.projects__details {
  transition: 2s;
  margin-top: 10rem;
}

.projects__details .post__img {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.082);
}

.projects__details .text__lg {
  margin-top: 3rem;
}

.projects__details .post__details {
  padding-left: 1rem;
  margin-bottom: 3rem;
}

.projects__details .links:nth-child(1) {
  color: white;
}

.projects__details .links {
  margin-left: 1rem;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  transition: 0.372s;
  box-shadow: 0 1px 5px rgba(255, 255, 255, 0.082);
  color:maroon;
}

.projects__details .links:hover {
  background-color: white;
  color: #11121d;
}
